

.main-bio .image-container{
    max-width: 200px;
    min-height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border:10px solid #6C757D;
}
.main-bio .image-container img{
    width:100%;
    height: 100%;
}
.main-bio{
    display:grid;
    gap:10px;

    margin-top:20px;
    padding:20px;
    justify-content: center;
    justify-items: center;
}

.main-bio .bio-container{
    display: grid;
    justify-items:center;
}

.main-bio .bio-container .bio-name{
    font-size: 2rem;
}
.main-bio .bio-container .bio-name span{
    font-weight: 700;
}

.main-bio .bio-container .bio-specification{
    margin-top:10%;
    display: grid;
    gap:5px;
    grid-template-columns: auto auto;
    align-items: center;
}


.main-bio .social-media-links-container ul{
    display: flex;
    margin-top:40%;
    gap:10px;
}

.main-about-us,
.main-showcase-container-skills,
.main-showcase-container-interests
{
    padding:30px 20px;
}



.about-us-description{
    font-size: 1.2rem;
}

.main-about-us h1{
    font-size: 1.9rem;
    justify-content: flex-start ;
}
.main-showcase-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    background-color: #ecd9ba8a;
}

.main-showcase-container > div{
    background-color: #fffaf1;
}

.skills-container p{
    color: #bdc3c7;
    text-align: center;
    font-size: 0.9rem;
}

.skills-container button,
.interests-container button{
    border-radius: 100px;
    padding: 16px 30px 16px 30px;
    margin:5px 3px;
    cursor:pointer;
    color:white;
    font-size:1.2rem;
}

.skills-programming-languages{
    background-color: #0e9594;
}

.skills-database{
    background-color: #f2542d;
}

.skills-AI{
    background-color: #90bbed;

}

.interests-container button{
    background-color: #6C757D;
}




@media only screen and (max-width: 768px) {

    .main-showcase-container{
        grid-template-columns: 1fr;
        gap:10px;
    }
}