html{
    background-color: #ecd9ba8a;
    box-sizing: border-box;
    line-height: 1.7rem;
}

button{
    border: none;
}

.logo{
    font-family: "Anton", sans-serif;
    font-size: 1.5rem;
}

.main{
    display:grid;
    grid-template-rows: auto;
    gap:20px;
}
.main-bio,
.main-about-us,
.main-showcase-container,
.experience-container,
.portfolio-container{
    max-width:1300px;
    width: 80%;
    margin:0 auto;
    box-shadow: 1px 8px 8px 1px rgba(0,0,0,0.1);
    margin-top: 30px;
}

#horizontal-line{
    width:90%;
    padding:10px 0;
    margin:0 auto;
    border-top:1.5px solid black;
}


.main-bio,
.main-about-us,
.main-showcase-container,
header,
.experience-container,
.portfolio-container{
    background-color: #fffaf1;

}



.main-showcase-container-skills h1,
.main-showcase-container-interests h1,
.main-about-us h1,
.experience-container .heading-container h1,
.portfolio-container .heading-container h1
{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 700;
}

header{
    box-shadow: 1px 8px 8px 1px rgba(0,0,0,0.1);
    width: 100%;
    padding:15px;
}


footer{
    display: grid;
    justify-content: center;
}


.header{
    border-bottom: 1px solid #E2E850;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}


.navbar .logo img{
    width: 30px;
}

.hamburger{
    display: none;
}


.bar{
    display: block;
    width:25px;
    height:3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}


.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2.5rem;

}

.nav-item > *:hover{
    border-bottom: 2px solid #6C757D;
}

footer{
    margin:30px;
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }



    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}