<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahmed Hanif</title>
    <link rel="stylesheet" href="/static/style/reset.css">
    <link rel="stylesheet" href="/static/style/layout.css">
    <link rel="icon" href="/static/images/ahmedLogo.png" type="image/icon type">
</head>
<header>
    <nav class="navbar">
        <div class="logo">
            <a href="./index.html">
                <img src="/static/images/ahmedLogo.png" alt="">
            </a>
        </div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="/experience" class="nav-link">Experience</a>
            </li>
            <li class="nav-item">
                <a href="/blog" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
                <a href="./sub-sections/portfolio.html" class="nav-link">Portfolio</a>
            </li>
            <!-- <li class="nav-item">
                        <a href="./sub-sections/contact.html" class="nav-link">Contact</a>
                    </li> -->
        </ul>

        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>

<body>
    {{{body}}}
</body>


<footer>
    <div>© 2025 Ahmed Hanif</div>
</footer>