<head>
    <link rel="stylesheet" href="/static/style/blog.css">
</head>
<body>
    <div class="blog-container">
        
        <a href = "./entries/entry_number_one/helloworld.html" class="blog-entry">
            <div class="blog-image-container">
                <img src="./entries/entry_number_one/thumbnail.png" alt="">
            </div>
            <div class="blog-header-container">
                <h1>My First Blog</h1>
            </div>
            <div class="blog-meta-data">
                <div class="entry-date">August 22, 2024</div>
                <div class="reading-time">
                    <div class="reading-time-icon"><img src="/static/images/clock.svg" alt=""></div>
                    <div>1 min read</div>
                </div>
            </div>
            <div class="blog-short-description">
                <p>My First Blog Entry😊.</p>
            </div>
        </a>        
        <!-- Template -->
        <!-- <a href = "" class="blog-entry">
            <div class="blog-image-container">
                <img src="" alt="">
            </div>
            <div class="blog-header-container">
                <h1></h1>
            </div>
            <div class="blog-meta-data">
                <div class="entry-date"></div>
                <div class="reading-time">
                    <div class="reading-time-icon"><img src="../../images/clock.svg" alt=""></div>
                    <div></div>
                </div>
            </div>
            <div class="blog-short-description">
                <p></p>
            </div>
        </a> -->
    </div>
    <script src="../../script/navbar.js"></script>
</body>
</html>