<head>
    <link rel="stylesheet" href="/static/style/index.css">
</head>

<div class="main">
    <div class="main-bio">
        <div class="image-container">
            <img src="/static/images/ahmedhanif.jpeg" alt="Profile Picture">
        </div>
        <div class="bio-container">
            <div class="bio-name"><span>Ahmed</span> Hanif</div>
            <div class="bio-location">Doha, Qatar</div>
            <div class="bio-specification">
                <img src="./images/code-icon.svg" alt="">
                <p>Currently Studying Data Science and AI.</p>
            </div>
        </div>
        <div class="social-media-links-container">
            <ul>
                <li><a href="/static/resume/resumeAhmedHanif.pdf"><img src="/static/images/logos/resume.svg" alt=""></a></li>
                <li><a href="https://www.linkedin.com/in/ahmed-hanif-1414b9211/"><img src="/static/images/logos/linkedin.svg"
                            alt=""></a></li>
                <li><a href="https://github.com/ahmedhanifc"><img src="/static/images/logos/github-mark.svg" alt=""></a></li>
                <li><a href="https://x.com/ahmedhanifc"><img src="/static/images/logos/twitter.svg" alt=""></a></li>

            </ul>
        </div>

    </div>

    <div class="main-about-us">
        <h1>Current Endeavours</h1>
        <div class="about-us-description">
            <h2>Research</h2>
            <p>
                Currently, I am working on a research project on use of AI in agriculture. My personal research interests lie
                in the use of Wearable Sensors for Emotion Recognition.
            </p>

            <h2>Courses</h2>
            <p>
                <ol>
                    <li>Machine Learning</li>
                    <li>Parallel and Distributed Computing</li>
                    <li>Data Structures and Algorithms</li>
                    <li>Fundamentals of AI</li>
                </ol>
            </p>
        </div>
    </div>
    <div class="main-showcase-container">
        <div class="main-showcase-container-skills">
            <h1>Skills</h1>
            <div class="skills-container">
                <button class='skills-programming-languages'>JavaScript</button>
                <button class='skills-programming-languages'>Python</button>
                <button class='skills-programming-languages'>Java</button>
                <button class='skills-database'>MySQL</button>
                <button class='skills-database'>MongoDB</button>
                <button class='skills-AI'>Pandas</button>
                <button class='skills-AI'>Sci-Kit Learn</button>
                <button class='skills-AI'>RAG</button>
                <button class='skills-AI'>Hugging Face</button>
            </div>
        </div>
        <div class="main-showcase-container-interests">
            <h1>Interests</h1>
            <div class="interests-container">
                <button>
                    Reading
                </button>
                <button>Running</button>
                <button>Writing</button>
                <button>Teaching</button>
            </div>
        </div>
    </div>
</div>




</html>