<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahmed Hanif</title>
    <link rel="stylesheet" href="/static/style/reset.css">
    <link rel="stylesheet" href="/static/style/layout.css">
    <link rel="stylesheet" href="/static/style/index.css">
    <link rel="icon" href="/static/images/ahmedLogo.png" type="image/icon type">
</head>
<body>
    <header>
            <nav class = "navbar">
                <div class="logo">
                    <a href="./index.html">
                        <img src="./images/ahmedLogo.png" alt="">
                    </a>
                </div>
                <ul class="nav-menu">
                    <li class="nav-item" style = "border-bottom: 2px solid #6C757D; ">
                        <a href="./index.html" class="nav-link" >About</a>
                    </li>
                    <li class="nav-item">
                        <a href="./sub-sections/experience.html" class="nav-link">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a href="./sub-sections/blog/blog.html" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="./sub-sections/portfolio.html" class="nav-link">Portfolio</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="./sub-sections/contact.html" class="nav-link">Contact</a>
                    </li> -->
                </ul>

                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
    </header>
    <div class="main">
        <div class="main-bio">
            <div class="image-container">
                <img src="./images/ahmedhanif.jpeg" alt="Profile Picture">
            </div>
            <div class="bio-container">
                <div class="bio-name"><span>Ahmed</span> Hanif</div>
                <div class="bio-location">Doha, Qatar</div>
                <div class="bio-specification">
                    <img src="./images/code-icon.svg" alt="">
                    <p>Currently Studying Data Science and AI.</p>
                </div>
            </div>
            <div class="social-media-links-container">
                <ul>
                    <li><a href="./documents/ahmedHanif_resume.pdf"><img src="./images/logos/resume.svg" alt=""></a></li>
                    <li><a href="https://www.linkedin.com/in/ahmed-hanif-1414b9211/"><img src="./images/logos/linkedin.svg" alt=""></a></li>
                    <li><a href="https://github.com/ahmedhanifc"><img src="./images/logos/github-mark.svg" alt=""></a></li>
                    <li><a href="https://x.com/ahmedhanifc"><img src="./images/logos/twitter.svg" alt=""></a></li>

                </ul>
            </div>
        
        </div>

        <div class="main-about-us">
            <h1>About Me</h1>
            <div class="about-us-description">
                <p>Hey, I'm Ahmed! This is where I Intend to record my journey on becoming a computer scientist, and more.</p>
                <br>
                <p>Although I am still on a journey of self-discovery, I am nevertheless grateful to have found a few areas that I am passionate about and find truly meaningful. I’m currently in my third year of studying Data Science and AI at the University of Doha for Science and Technology, and I enjoy diving deep into topics that challenge my understanding</p>
                <br>
                <p>Learning is a journey of discovery, and the more I learn, the more I realize how much there is left to explore. My interests in theoretical computer science stem from a fascination with the logic and structure behind everything we do. But what truly fulfills me is teaching, understanding people, and finding ways to be helpful to those around me. Making a positive impact on society is something I strive for in all that I do.</p>
                <br>
                <p>I am also passionate about <a>books</a> and other ideas. Check out some of my work and experience, or connect with me.</p>
                <br>
            </div>
        </div>
        <div class="main-showcase-container">
            <div class="main-showcase-container-skills">
                <h1>Skills</h1>
                <div class="skills-container">
                    <button class = 'skills-programming-languages'>JavaScript</button>
                    <button class = 'skills-programming-languages' >Python</button>
                    <button class = 'skills-database'>MySQL</button>
                    <button class = 'skills-database'>MongoDB</button>
                    <button class = 'skills-AI'>Pandas</button>
                    <button class = 'skills-AI'>Sci-Kit Learn</button>
                    <button class = 'skills-AI'>RAG</button>
                    <button class = 'skills-AI'>Hugging Face</button>
                </div>
            </div>
            <div class="main-showcase-container-interests">
                <h1>Interests</h1>
                <div class="interests-container">
                    <button>
                        Reading
                    </button>
                    <button>Running</button>
                    <button>Writing</button>
                    <button>Teaching</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div>© 2024 Ahmed Hanif</div>
    </footer>


    <script src="./script/navbar.js"></script>
</body>
</html>