@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:black;
    font-family:system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
header{
    padding-top:40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom:2px solid black ;
    margin:0 70px;
}
.title{
    padding-top:10px;
    padding-bottom:7px;
    font-size: 2.2rem;
}
.sub-headings{
    display: flex;
    padding-top:10px;
    gap:50px;
}


.container{
    padding-top: 30px;
    margin:0 70px;
}
.entries{
    margin-top:5px;
}
.container * {
    margin:4px;
}
.heading{
    font-size: 1.5rem;
    text-decoration: underline;
}